<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= customer.nickname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= customer.age %>
  </p>

  <p>
    <strong>Preferred day:</strong>
    <%= customer.preferred_day %>
  </p>

  <p>
    <strong>Favorite food:</strong>
    <%= customer.favorite_food %>
  </p>

</div>
